$main-background: #932AC5;
$secondary-color: #F8C8F9;
$secondary-color-light: #FAEFFF;
$main-light: #b06efa;

$desktop-footer-height: 155px;
$desktop-header-height: 52px;

// Screen sizes:
$tablet-max: 1160px;
$mobile-max: 420px;
